    <section class="welcome">
        <h1>Saudações!</h1>
        
    </section>

    <section id="cards">

        <h2>Selecione uma das opções abaixo para começar</h2>


        <div class="card">

            <a routerLink="/cadastro">
                <img src="../../../assets/icons/cadastrar.svg" alt="Cadastro de clientes">
                <h3>Cadastrar</h3>
            </a>

        </div>

        <div class="card">
            
            <a routerLink="/consulta">
                <img src="../../../assets/icons/cosultar.svg" alt="Consulta de clientes">
                <h3>Consultar</h3>
            </a>

        </div>
    </section>